
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

h1

#account-form-container
	form( method="post")#account-form.form-horizontal
		p#sub1.subheading Please tell us a little about yourself.
			#name-cg.control-group
				label.control-label(for='name-tf') Name
				.controls
					input#name-tf.form-control.required(type='text', name='name', value= user.name, required)
			#email-cg.control-group
				label.control-label(for='email-tf') Email
				.controls
					input#email-tf.form-control.requirede(type='text', name='email', value= user.email, required)
			#clist-cg.control-group
				label.control-label(for='country-list') Location
				.controls
					select#country-list.form-control.required(name='country', required)
						each item in countries
							option(selected=item.name == user.country)= item.name
			#pass-cg.control-group
				label.control-label(for='pass-tf') Password (6 letters or more)
				.controls
					input#pass-tf.form-control.required(type='password', name='pass', value='', required)
			p &nbsp;
			.form-actions
				button(type='button')#account-form-btn1.btn
				button(type='submit')#account-form-btn2.btn

// display form errors in a custom modal window //

include modals/form-errors
