!!! 5
html
	head
		title Home#
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')

	body
		div#header
			div.container
				img(src="../img/LogotypeDraft2.png", width="300")

		div.navbar.navbar-default.navbar-static-top
			div.container
				div.navbar-header
					button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
				div#navbar.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a(href="/home") Home
						li.dropdown
							a(href="#", data-toggle="dropdown", role="button", aria-expanded="false").dropdown-toggle Devices
								span.caret
							ul.dropdown-menu(role="menu")
								li
									a(href="/brand/netatmo") Netatmo
						li
							a(href="/settings") Settings
					ul.nav.navbar-nav.navbar-right
						li
							a(href="/logout") Logout

	block content
	block scripts
