
extends layout

block content

	div.container.top-push
		div.row
			div.col-md-8
				h1 Welcome to HomeSharp!
				p HomeSharp aims to create a platform for bringing a variety of different home automation control systems into one. Making it possible for a user to handle, and control all the smart devices from one GUI, using a smart API translating all the different requests to the specific standard used by the manufacturer (e.g. Netatmo, Telldus, Philips Hue).
				p To get started, or to continue where you left off; just log in using the form to your right!
			div.col-md-4
				h2 Login
				form( method="post")#login-form.well.span4
					div.form-group
						label(for="user-tf") E-mail
						input(type="email", name="email", id='user-tf', autofocus).form-control.required
					div.form-group
						label(for="pass-tf") Password
						input(type="password", name="pass", id='pass-tf').form-control.required
					div.checkbox
						label
							input(type="checkbox", checked='checked')
							| Remember Me
					button(type="submit").btn.btn-default Sign in
					div.btm-links
						p
						a(href='#')#forgot-password Forgot Your Password?
						p
						a(href='/signup')#create-account Create An Account

	include modals/alert
	include modals/lost-password

block scripts
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')
