
extends layout

block content

		div.container.top-push
			h1 HomeSharp - Telldus
			if TelldusConnected == true
				p You have authenticated with success, your Telldus devices will show up here soon.
				p
					button#btn-unlinkTelldus.btn.btn-danger.btn-xs Unlink account
				h2 My devices
				p Coming soon
			else
				div#Connect
					p There are currently no Telldus-account synced with HomeSharp,&nbsp;
						a(href='') sync one now?

block scripts
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/netatmo.js')
	script(src='/js/controllers/netatmoController.js')
