
extends layout

block content

		div.container.top-push
			h1 HomeSharp - Telldus
			if TelldusConnected == true
				p You have authenticated with success, your Telldus devices will show up here soon.
				p
					button#btn-unlinkTelldus.btn.btn-danger.btn-xs Unlink account
				h2 My devices
				p Coming soon
			else
				div#Connect
					h3 Sync with Telldus Live
					p To sync with Telldus Live, just enter your keys below.
					form( method="post")#telldus-form
						div.form-group
							label(for="public-key") Public key
							input(type="text", name="publicKey", id='public-key', autofocus).form-control.required
						div.form-group
							label(for="private-key") Private key
							input(type="password", name="privateKey", id='private-key').form-control.required
						div.form-group
							label(for="token") Token
							input(type="text", name="token", id='token').form-control.required
						div.form-group
							label(for="token-secret") Token secret
							input(type="password", name="tokenSecret", id='token.secret').form-control.required
						button(type="submit").btn.btn-default Save and sync

block scripts
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/telldus.js')
	script(src='/js/controllers/telldusController.js')
