raiseText()
	color grey
	text-shadow: -1px 1px 0 white
	-moz-text-shadow: -1px 1px 0 white
	-webkit-text-shadow: -1px 1px 0 white

body
	margin  0
	padding  0
	height  100%
	background rgb(255,255,255)


// main div formats //

.navbar-fixed-top
	margin-top: 150px
	background-color: #e9e0d6
	height: 40px

.navbar-static-top
	margin-bottom: -50px

.navbar-inner
	background-color: #ffffff

#header
	width: 100%
	height: 150px
	background-color: #29aba4
	padding-top: 45px
	text-align: center


// Font formats //
h1
	font-size: 35px

h2
	font-size: 28px


// support pages //

#print
	padding 20px
#four04
	padding:20px

// general shared rules //
.clear-fix
	clear both

.top-push
	margin-top 60px
