
.modal-alert.modal.fade(tabindex="1", role="dialog", aria-labelledby="modal-alert", aria-hidden="true")
    div.modal-header
        button.close(data-dismiss='modal') x
        h3 &nbsp;
    div.modal-body
        p
    div.modal-footer
        button(data-dismiss="modal")#ok.btn.btn-warning OK
